@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Variables
$font: 'Abel', sans-serif;
$header-size: 2rem;

.page {
    background: linear-gradient(179.96deg, #793698 0.02%, rgba(255, 255, 255, 0) 99.98%);;
    background-size: auto 100vh;
}

.stretch-timer {
    width: 95vw;
    margin: 0 auto;
    text-align: center;
    font-family: $font;
    &__name {
        color: white;
        font-size: $header-size;
    }
}

.stretch-info {
    &__stretch-name {
        font-size: $header-size * 1.5;
    }
}

.navigation {
    position: absolute;
    bottom: 5%;
    width: 95%;
    &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__link {
        list-style-type: none;
        font-weight: bold;
        text-decoration: none;
    }
}

// .stretches_list {
//     list-style-type: none;
//     padding-left: 0px;
//     text-align: center;
//     font-size: 1.5rem;
// }

// .stretches_link {
//     color: #fff;
//     text-decoration: none;
//     line-height: 3rem;
//     &:hover {
//         text-decoration: underline;
//     }
//     &:active {
//         color: #c4c4c4;
//     }
// }

// .stretch-current {
//     margin: 5vh 0 15vh;
//     color: #fff;
//     text-align: center;
//     font-size: 3rem;
// }

// .stretch-current_info {
//     font-size: 0.5em;
//     cursor: pointer;
// }

// .stretch-image {
//     display: none;
//     margin-top: -15vh;
//     position: fixed;
//     margin-left: 3vw;
//     width: 93vw;
//     text-align: center;
// }

// .stretch-image_image {
//     max-width: 92vw;
//     max-height: 75vh;
// }

// .timer {
//     display: grid;
//     grid-template-columns: 15% 85%;
//     width: 90vw;
//     margin-left: auto;
//     margin-right: auto;
//     border: 1px solid black;
//     background-color: #793698;
//     height: 2.5rem;
//     cursor: pointer;
// }

// .timer--clicked {
//     @extend .timer;
//     cursor: default;
// }

// .timer_countdown {
//     color: #fff;
//     font-size: 2.5rem;
//     line-height: 2.5rem;
// }

// .timer_text {
//     @extend .timer_countdown;
//     color: #fff;
//     font-size: 1.5rem;
// }

// .stretch-next {
//     margin: 15vh 0 5vh;
//     text-align: center;
//     font-size: 1.5rem;
// }

// .back-button {
//     position: fixed;
//     left: 5vw;
//     bottom: 5vh;
// }

// .back-button_link {
//     color: #000;
//     text-decoration: underline;
//     &:hover {
//         text-decoration: none;
//     }
//     &:active {
//         color: #c4c4c4;
//     }
// }