@import './util';

.instructions {
    @include highContrastLink('&__button', $pale-yellow, #000);
    &__button {
        @include whiteTextFallback;
        border: 0px;
        background-color: inherit;
        font-size: 1rem;
        text-decoration: underline;
    }
}

.stretch-timer {
    width: 95vw;
    margin: 0 auto;
    text-align: center;
    font-family: $font;
    &__name {
        @include whiteTextFallback;
        font-size: $header-size;
    }
}

.stretch-info {
    &__stretch-name {
        font-size: $header-size * 1.5;
    }
}

.navigation {
    margin-top: 10rem;
    &__list {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-left: 0;
        @media (min-width: 450px) {
            flex-direction: row;
        }
    }
    @include highContrastLink('&__link', $dark-yellow, #fff);
    &__link {
        list-style-type: none;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.25rem;
        color: black;
    }
}