@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Variables
$font: 'Abel', sans-serif;
$header-size: 2rem;
$darker-color: #793698;
$purple-gradient: linear-gradient(179.96deg, $darker-color 0.02%, rgba(255, 255, 255, 0) 99.98%);